# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# virtualenv
.venv
venv/
ENV/
.vscode

.DS_Store
*.sqlite3

# settings
.env

# static
static/admin/
static/rest_framework/

# celery
celerybeat-schedule*


