celery
django
django-ckeditor
django-cors-headers
django-environ
django-filter
django-modelcluster
django-taggit
djangorestframework
flower
gspread
pandas
psycopg2
python-dateutil
requests
sentry_sdk
stringcase
wagtail
