celery
django
django-ckeditor
django-cors-headers
django-environ
django-filter
django-modelcluster
django-taggit
djangorestframework
pandas
psycopg2
python-dateutil
requests
sentry_sdk
xlsxwriter
wagtail
djangorestframework-serializer-extensions
django-debug-toolbar
